.page-apply {
    width: 100%;
}

.page-apply .head {
    width: 100vw;
    height: 32vw;
    background-image: url("../../assets/image/head.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-apply .weui-form {
    padding-top: 0px;
}

.page-apply .weui-cells__group_form .weui-cells__title {
    padding-left: 12vw;
}

.weui-cells__group_form .weui-cell {
    padding: 16px 32px 16px 2vw;
}

.weui-cells__group_form .weui-cell_select-after {
    padding: 0px 0px 0px 2vw;
}

.weui-cells__group_form .weui-cells:before {
    left: 12vw;
}

.weui-cells__group_form .weui-cells:after {
    left: 12vw;
}

.cl-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 4vw;
    box-sizing: border-box;
}

.cl-item .weui-cell:before {
    left: 2vw;
}

.cl-item .cl-icon {
    width: 6vw;
    height: 6vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.cl-item .cl-icon.icon1 {
    background-image: url("../../assets/image/apply1@3x.png");
}

.cl-item .cl-icon.icon2 {
    background-image: url("../../assets/image/apply2@3x.png");
}

.cl-item .cl-icon.icon3 {
    background-image: url("../../assets/image/apply3@3x.png");
}

.cl-item .cl-icon.icon4 {
    background-image: url("../../assets/image/apply4@3x.png");
}

.cl-item .cl-icon.icon5 {
    background-image: url("../../assets/image/apply5@3x.png");
}

.cl-item .cl-icon.icon6 {
    background-image: url("../../assets/image/apply6@3x.png");
}

.cl-item .weui-cell {
    flex-grow: 1;
}

.cl-item .weui-cell_select .weui-cell__bd {
    /* padding-right: 10vw; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}